# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
credentials.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# operating system files
.DS_Store
Thumbs.db
desktop.ini

# certificates and private keys
*.pem

# environment files and secrets
.env*
!.env.example
!.env.*.example

# typescript
*.tsbuildinfo

# local caches and editor files
.npm/
.idea/

example

# generated native folders
/ios
/android
